body {
    background-color: gray;
}

.Gallery-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Gallery-panel-main {
    max-height: 96vh;
    overflow-y: auto;
}

.Gallery-panel-toolbar {
    display: flex;
    width: 100%;
    margin-top: 5px;
    height: 2vh;
}

.Gallery-summary {
    border: 1px solid black;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

.Image-list-full {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 100%;
    overflow-y: auto;
}

.Image-list-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100vw;
    overflow-x: auto;
}

.Image-selected {
    border: 7px solid rgb(0, 255, 247);
}

.Image-thumb {
    justify-content: center;
    align-content: center;
}

.Main-layout {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.Main-toolbar {
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 10vw;
    resize: horizontal;
    overflow-y: auto;
}

.Main-panel {
    height: 100%;
    overflow-y: auto;
    width: 100%;
}

.Preview-close-btn {
    position: absolute;
    left: 98vw;
    max-width: 2vw;
}

.Preview-image-fit-1 {
    max-height: 100%;
}

.Preview-image-fit-2 {
    max-width: 100%;
}

.Preview-image-fit-3 {
}

.Preview-image-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: auto;
    width: 100%;
}

.Preview-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 76vh;
    width: 100%;
}

.Preview-prev-btn {
    margin-top: 10px;
    margin-left: 10px;
    height: 100%;
}
